<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab center>
    <button ion-fab color="primary" (click)="takePicture()">
        <ion-icon name="md-camera"></ion-icon>
    </button>
</ion-fab>
<ion-card-content>
  Latest Picture:
  <img [src]="base64Image" *ngIf="base64Image" />
  <img [src]="downloadUrl"  *ngIf="downloadUrl" />
</ion-card-content>
<ion-card-content>
  Latest Place:
  <p>{{ latitude }}</p>
  <p>{{ longitude }}</p>
  <p>{{ address }}</p>
</ion-card-content>
</ion-content>
